body {
  font-family: 'Libre Franklin', sans-serif;
  /* margin: 0; */
}

.top-section { /* White-on-dark section at top of page */
  background: url('dark-honeycomb.png') repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  height: 480px;
}

.nav-bar { /* Unordered list at top of page */
	margin-top: 0;
}

li { /* Horizontal list of links in nav-bar */
	display: inline-block;
	font-size: 12px;
	width: 100px;
	font-weight: bold;
	margin-top: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}

.nav-link { /* Text style for nav links */
	color: white;
	text-decoration: none;
}

.contact-box { /* Box around the 'contact' link */
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

.about-container { /* Container for text and photo in top-section */
	width: 660px;
	margin-left: auto;
	margin-right: auto;
}

.text-container { /* Container for text in about-container */
	width: 400px;
	float: left;
	text-align: center;
}

h1 { /* My name */
	color: white;
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 6px;
	letter-spacing: -1px;
}

h2 { /* Job title */
	color: white;
	font-size: 18px;
	margin-top: 0;
}

.bio { /* Bio notes */
	color: white;
	font-size: 14px;
}

h2 a { /* Github & LinkedIn links */
	color: white;
	margin-left: 15px;
	margin-right: 15px;
}

.me { /* Photo of me in top-section */
	height: 200px;
	border-style: solid;
	border-color: white;
	margin-top: 60px;
	float: right;
}

h3 { /* Section headings */
	color: black;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 30px;
}

.box { /* Old container for each project's name, image and description */
	float: left;
	width: 42.5%;
	margin-left: 5%;
	margin-top: 40px;
}

.project-box { /* New project box with image and text side-by-side */
	margin-top: 25px;
	width: 800px;
	height: 275px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 10px;
	border-color: #EEEEEE;
	background-color: #EEEEEE;
}

.project-image { /* Box within project-box for the image */
	float: left; /* Image on the left, text on the right */
	width: 400px; /* Specifies the amount of the project-box that project-image should occupy */
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin-right: 15px;
}

.full-width {
	width: 100%; /* The amount of the project-image box that the image should occupy */
}

.project-text { /* Not using this yet. Need to work out responsive design. */
	float: left;
	width: 400px;
}

h4 { /* Project name text style */
	text-align: center;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 0px;
}

p { /* Project descriptions */
	text-align: center;
}

p a { /* Demo & Github links */
	font-weight: bold;
	color: black;
	margin-left: 10px;
	margin-right: 10px;
}

.clear { /* Line break to reset floats after '.box' container */
	clear: both;
}

.skills-and-tools { /* Container for 'p' text in 'Skills & Tools' section */
	max-width: 400px;
	margin: 15px auto 15px;
}

.icons { /* Container for lang/tool icons */
	text-align: center;
}

.icon { /* Applies to each icon image file */
	margin: 3px 0px 30px;
}

.contact-footer { /* Container for white-on-dark section at foot of page */
	height: 230px;
	background-color: #202020;
	padding-top: 1px;
}

.contact-headline { /* Section heading for contact section */
	color: white;
}

.contact-info { /* Style for 'p' text in contact section */
	color: white;
}